@font-face{
  font-family:"Balto";
  src:url(http://cdn3.vox-cdn.com/fonts/vox/baltoweb-medium.v32923ad.eot);
  src:url(http://cdn2.vox-cdn.com/fonts/vox/baltoweb-medium.v10502d2.woff) format("woff");
  font-weight:500;
  font-style:normal
}
@font-face{
  font-family:"Balto";
  src:url(http://cdn3.vox-cdn.com/fonts/vox/baltoweb-bold.v8e1522a.eot);
  src:url(http://cdn2.vox-cdn.com/fonts/vox/baltoweb-bold.v02933a5.woff) format("woff");
  font-weight:700;
  font-style:normal
}

body {
  font: 14px/1.5 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin: 0;
}

a {
  color: #6d98a8;
}

input {
  border: 1px solid #eee;
  border-radius: 5px;
  box-sizing: border-box;
  font: 14px/1 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 6px;
  width: 75px;
}

input[type="checkbox"] {
  margin-right: 10px;
  width: auto;
}

.mapper {
  margin: 50px auto;
  max-width: 800px;
  padding: 0 20px;
}

.map-view {
  margin: 0 auto;
  width: 60%;
}

.threshold-form label {
  font-size: 11px;
}

.threshold-form input {
  margin-right: 10px;
}

.threshold-form input[type="number"],
.threshold-form input[name="color"] {
  width: 50px;
}

.map-data ul {
  border: 1px solid #eee;
  list-style: none;
  max-height: 200px;
  margin: 0;
  padding: 0;
  overflow: auto;
}

.map-data li {
  padding: 5px 10px;
  text-transform: uppercase;
}

.map-data li:nth-child(odd) {
  background-color: #f7f7f7;
}

.map-data label {
}

.map-editor {
  background-color: #fcfcfc;
  border: 1px solid #eee;
  border-radius: 3px;
  display: table;
  padding: 15px;
  table-layout: fixed;
}

.map-editor header {
  background-color: #eee;
  border-radius: 5px;
  height: 30px;
  line-height: 30px;
  margin-bottom: 15px;
  padding: 5px 15px;
}

.map-editor h1 {
  float: left;
  font-family: "Balto";
  font-size: 20px;
  margin: 0;
  margin-right: 15px;
}

.map-editor .action-util {
  box-sizing: border-box;
  border-radius: 5px;
  display: inline-block;
  float: right;
  height: 100%;
  line-height: 30px;
  width: 50px;
}


.map-config {
  display: table-cell;
  padding: 0 15px 0 0;
}

.legend-form-add {
  background-color: #6d98a8;
  border: none;
  color: white;
  cursor: pointer;
  font: 700 26px/30px "Balto";
  transition: background-color 0.4s;
}

.legend-form-add:hover {
  background-color: rgb(164, 210, 231);
}

.legend-form-view {
  box-sizing: border-box;
  width: 100%;
}

.legend-form-view th {
  font-size: 10px;
  text-align: left;
}

.legend-form-view .swatch {
  border-radius: 3px;
  display: block;
  height: 16px;
  padding: 2px;
  width: 16px;
}

.legend-form-view .swatch input {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: white;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  display: block;
  height: 100%;
  width: 100%;
}

.legend-form-view .swatch input:checked {
  background-color: transparent;
}

.legend-form-view button.destroy {
  background-color: #eee;
  border: none;
  border-radius: 50%;
  color: #999;
  cursor: pointer;
  display: block;
  font-size: 15px;
  font-weight: bold;
  height: 20px;
  line-height: 10px;
  text-align: center;
  width: 20px;
}

.legend-form-view button.destroy:hover {
  background-color: #c00;
  color: white;
}

th.show { width: 20px; }
th.value { width: 75px; }
th.operator { width: 75px; }
th.color { width: 75px; }
th.destroy { width: 20px; }

td {
  padding-bottom: 10px;
}

td input,
td select {
  width: 100%;
}



.map-data {
  display: table-cell;
  width: 200px;
}

.map-data label {
  display: inline-block;
  width: 40px;
}

.map-data-dropzone {
  border: 3px dashed #ccc;
  text-align: center;
}

.map-data-dropzone.pulse {
  border-color: #f00;
}

.title-label {
  margin-right: 10px;
}

.title-label input {
  width: 50%;
}