<!DOCTYPE html>
<html lang="en">
<head>
  <title></title>
  <link rel="stylesheet" href="css/main.css">
  <link rel="stylesheet" href="css/tooltip.css">
</head>
<body>

  <div class="mapper">
    <div id="map-view" class="map-view"></div>
    <div class="map-editor">

      <div class="map-config">
        <div id="map-legend-form">
          <header>
            <h1>Legend</h1>
            <button id="legend-form-add" class="action-util legend-form-add">+</button>
          </header>
          <table class="legend-form-view">
            <thead>
              <tr>
                <th class="show">Show</th>
                <th class="label">Label</th>
                <th class="color">Hex</th>
                <th class="value">Value</th>
                <th class="operator">Compare</th>
                <th class="destroy"></th>
              </tr>
            </thead>
            <tbody data-bind="collection:$collection"></tbody>
          </table>
          <script type="text/template" id="legend-form-item-view">
            <tr>
              <td><span class="swatch" data-bind="css:{'background-color':color}"><input type="checkbox" data-bind="checked:inLegend"></span></td>
              <td><input type="text" name="label" data-bind="value:label"></td>
              <td><input type="text" name="color" data-bind="value:color"></td>
              <td><input type="number" name="value" data-bind="value:integer(value)"></td>
              <td>
                <select data-bind="value:operator">
                  <option value="lt">&lt;</option>
                  <option value="lte">&lt;=</option>
                  <option value="eq">=</option>
                  <option value="gte">&gt;=</option>
                  <option value="gt">&gt;</option>
                </select>
              </td>
              <td><button class="destroy">x</button></td>
            </tr>
          </script>
          <p><label>Render heat scale: <input type="checkbox" data-bind="checked:heatScale"></label> <em>(uses exactly two legend keys)</em></p>
        </div>

        <div id="map-settings-form">
          <header>
            <h1>Settings</h1>
          </header>
          <p>
            <label class="title-label">Title: <input type="text" data-bind="value:title"></label>
            <label>Blank color: <input type="text" data-bind="value:blankColor"></label>
          </p>
          <p><label class="title-label">Tooltip: <input type="text" data-bind="value:tooltip"></label></p>
          <a href="#" download="map.svg" id="save-image">Save Image</a>
        </div>
      </div>

      <div id="map-data-form" class="map-data">
        <header>
          <h1>Map Data</h1>
          <div id="map-data-dropzone" class="action-util map-data-dropzone">csv</div>
        </header>
        <ul id="map-data-list"></ul>
        <script type="text/template" id="map-data-list-item">
          <li>
            <label for="data-<%= d.id %>"><%= d.id %>:</label>
            <input id="data-<%= d.id %>" name="<%= d.id %>" type="number" value="<%= d.value %>">
          </li>
        </script>
        <p id="map-data-range"></p>
      </div>

    </div>
  </div>

  <script src="js/vendor/jquery.js"></script>
  <script src="js/vendor/underscore.js"></script>
  <script src="js/vendor/backbone.js"></script>
  <script src="js/vendor/backbone.epoxy.js"></script>

  <script src="js/map/mapdata.js"></script>
  <script src="js/map/main.js"></script>
  <script src="js/map/models.js"></script>
  <script src="js/map/interactive.js"></script>
  <script src="js/map/views/map-data.js"></script>
  <script src="js/map/views/map-legend.js"></script>
  <script src="js/map/views/map-settings.js"></script>
  <script src="js/map/views/map-render.js"></script>
  <script>Mapper.init();</script>
</body>
</html>