@font-face {
  font-family: "Balto";
  src: font-url('baltoweb-medium.eot');
  src: font-url('baltoweb-medium.woff') format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Balto";
  src: font-url('baltoweb-medium.eot');
  src: font-url('baltoweb-medium.woff') format("woff");
  font-weight: 700;
  font-style: normal;
}

h1 {
  font-family: $balto;
  font-size: 20px;
}