@import url(http://fonts.googleapis.com/css?family=Roboto);

$sans: "Helvetica Neue", Helvetica, sans-serif;
$title: "Roboto", "Helvetica Neue", Helvetica, sans-serif;

$gray-bg: #f7f7f7;
$gray-light: #eee;
$gray-medium: #ccc;
$gray-dark: #777;
$action-color: #6d98a8;