$sans: "Helvetica Neue", Helvetica, sans-serif;
$balto: "Balto","Helvetica Neue", Helvetica, sans-serif;

$gray-bg: #f7f7f7;
$gray-light: #eee;
$gray-medium: #ccc;
$gray-dark: #777;
$action-color: #6d98a8;