.map-tooltip {
  background-color: white;
  border: 1px solid gray;
  padding: 5px 15px;
  pointer-events: none;
  position: absolute;
}
.map-tooltip:before,
.map-tooltip:after {
  border: 8px solid transparent;
  border-bottom: none;
  border-top-color: white;
  content: '';
  display: block;
  left: 50%;
  margin-left: -8px;
  pointer-events: none;
  position: absolute;
  top: 100%;
}
.map-tooltip:before {
  border: 10px solid transparent;
  border-top-color: gray;
  margin-left: -10px;
}