<section id="editor-data" class="l-data m-editor m-editor-data">
  <header>
    <h1>Data</h1>
    <div id="map-data-dropzone" class="action-util m-editor-data__dropzone">csv</div>
  </header>
  <div class="m-editor-data__table">
    <table>
      <thead></thead>
      <tbody></tbody>
    </table>
  </div>
  <p id="map-data-range"></p>
</section>