<section id="editor-settings" class="m-editor-view m-editor-settings">
  <p class="row"><label for="settings-header">Header:</label> <input id="settings-header" type="text" data-bind="value:header" class="input-large"></p>
  <p class="row"><label for="settings-subheader">Subheader:</label> <input id="settings-subheader" type="text" data-bind="value:subheader" class="input-large"></p>
  <p class="row"><label for="settings-type">Type:</label> 
    <select id="settings-type" data-bind="value:type" class="input-large">
      <option value="us-state">US States</option>
      <!--option value="us-county">US Counties</option-->
      <option value="world">World</option>
    </select>
  </p>
  <p class="row"><label for="settings-tooltip">Tooltip:</label> <textarea id="settings-tooltip" type="text" data-bind="value:tooltip" class="input-large"></textarea></p>
</section>