<section id="editor-data" class="l-data m-editor m-editor-data">
  <header>
    <h1 class="m-editor__field">Data</h1>
    <div id="data-dropzone" class="m-editor__util m-editor-data__dropzone"><span>CSV</span></div>
  </header>
  <div class="m-editor-data__table">
    <table>
      <thead></thead>
      <tbody></tbody>
    </table>
  </div>
  <script type="text/template" id="editor-data-row">
    <tr>
      <td><%%= d.model.id.toUpperCase() %></td>
      <%% _.each(d.fields, function(field) { %>
      <td><input type="text" name="<%%= field %>" value="<%%= d.model.get(field) %>" data-id="<%%= d.model.id %>"></td>
      <%% }) %>
    </tr>
  </script>
</section>