<div id="editor-style-stroke" class="m-editor__module">
  <header>
    <h1 class="m-editor__field">Strokes</h1>
    <div class="m-editor__field">
      <label for="style-stroke-data">column:</label>
      <select id="style-stroke-data" data-bind="options:columnNames,value:stroke_column">
        <option value="value">value</option>
      </select>
    </div>
    <button class="m-editor__util m-editor-style__add" data-ui="add">+</button>
  </header>
  <table class="style-form">
    <thead>
      <tr>
        <th class="show">Show</th>
        <th class="label">Label</th>
        <th class="size">Size</th>
        <th class="color">Hex</th>
        <th class="value">Value</th>
        <th class="operator">Compare</th>
      </tr>
    </thead>
    <tbody data-bind="collection:$collection"></tbody>
  </table>
  <script type="text/template" id="style-list-item">
    <tr>
      <td class="show">
        <div class="style-form__options">
          <span class="swatch" data-bind="css:{'background-color':color,'border-color':color,'border-width':size}"></span>
          <ul>
            <li class="legend"><label><input type="checkbox" data-bind="checked:inLegend"> In Legend</button></li>
            <li class="destroy"><button data-ui="destroy">Remove</button></li>
            <li class="shift-up"><button data-ui="up">Move Up</button></li>
            <li class="shift-down"><button data-ui="down">Move Down</button></li>
          </ul>
        </div>
      </td>
      <td class="label"><input type="text" name="label" data-bind="value:label"></td>
      <td class="size"><input type="text" name="size" data-bind="value:size"></td>
      <td class="color"><input type="text" name="color" data-bind="value:color"></td>
      <td class="value"><input type="text" name="value" data-bind="value:value"></td>
      <td class="operator">
        <select data-bind="value:operator">
          <option value="lt">&lt;</option>
          <option value="lte">&lt;=</option>
          <option value="eq">=</option>
          <option value="gte">&gt;=</option>
          <option value="gt">&gt;</option>
        </select>
      </td>
    </tr>
  </script>
</div>