<section id="editor-settings" class="m-editor-view m-editor-settings">
  <p>
    <label class="title-label">Title: <input type="text" data-bind="value:title"></label>
    <label>Blank color: <input type="text" data-bind="value:blankColor"></label>
  </p>
  <p><label class="title-label">Tooltip: <input type="text" data-bind="value:tooltip"></label></p>
  <a href="#" download="map.svg" id="save-image">Save Image</a>
</section>