<div id="editor-style-base" class="m-editor__module">
  <header>
    <h1>Base Styles</h1>
  </header>
  <p class="row"><label for="base-fill">Base fill:</label> <input id="base-fill" type="text" data-bind="value:fillColor" class="input-large"></p>
  <p class="row"><label for="base-stroke">Base stroke:</label> <input id="base-stroke" type="text" data-bind="value:strokeColor" class="input-large"></p>
</div>