<section id="editor-data" class="l-data m-editor m-editor-data">
  <header>
    <h1>Data</h1>
    <div id="data-dropzone" class="m-editor__util m-editor-data__dropzone"><span>CSV</span></div>
  </header>
  <div class="m-editor-data__table">
    <table>
      <thead></thead>
      <tbody></tbody>
    </table>
  </div>
  <div id="data-range" class="m-editor-data__range"></div>
</section>