<div id="editor-style-fill" class="m-editor__module">
  <header>
    <h1 class="m-editor__field">Fills</h1>
    <div class="m-editor__field">
      <label for="style-fill-data">column:</label>
      <select id="style-fill-data" data-bind="options:columnNames,value:fill_column">
        <option value="value">value</option>
      </select>
    </div>
    <button class="m-editor__util m-editor-style__add" data-ui="add">+</button>
  </header>
  <table class="style-form">
    <thead>
      <tr>
        <th class="show"></th>
        <th class="label">Label</th>
        <th class="size">Size</th>
        <th class="color">Hex</th>
        <th class="value">Value</th>
        <th class="operator">Compare</th>
      </tr>
    </thead>
    <tbody data-bind="collection:$collection"></tbody>
  </table>
  <p><label><input type="checkbox" data-bind="checked:heat_scale"> Render heat scale</label></p>
</div>