<section id="editor-style" class="m-editor-view m-editor-style">
  <%= partial 'partials/m-editor-style-base' %>
  <%= partial 'partials/m-editor-style-fill' %>
  <%= partial 'partials/m-editor-style-stroke' %>
</section>
