<div id="editor-style-stroke" class="m-editor__module">
  <header>
    <h1 class="m-editor__field">Strokes</h1>
    <div class="m-editor__field">
      <label for="style-stroke-data">column:</label>
      <select id="style-stroke-data" data-bind="options:columnNames,value:stroke_color_column">
        <option value="value">value</option>
      </select>
    </div>
    <button id="style-stroke-add" class="m-editor__util m-editor-style__add">+</button>
  </header>
  <table class="style-form">
    <thead>
      <tr>
        <th class="show">Show</th>
        <th class="label">Label</th>
        <th class="size">Size</th>
        <th class="color">Hex</th>
        <th class="value">Value</th>
        <th class="operator">Compare</th>
        <th class="destroy"></th>
      </tr>
    </thead>
    <tbody data-bind="collection:$collection"></tbody>
  </table>
  <script type="text/template" id="style-stroke-item">
    <tr>
      <td><span class="swatch" data-bind="css:{'border-color':color,'border-width':size}"></span></td>
      <td><input type="text" name="label" data-bind="value:label"></td>
      <td><input type="text" name="size" data-bind="value:size"></td>
      <td><input type="text" name="color" data-bind="value:color"></td>
      <td><input type="text" name="value" data-bind="value:value"></td>
      <td>
        <select data-bind="value:operator">
          <option value="lt">&lt;</option>
          <option value="lte">&lt;=</option>
          <option value="eq">=</option>
          <option value="gte">&gt;=</option>
          <option value="gt">&gt;</option>
        </select>
      </td>
      <td><button class="destroy">+</button></td>
    </tr>
  </script>
</div>