<div id="editor-style-fill" class="m-editor__module">
  <header>
    <h1 class="m-editor__field">Fills</h1>
    <div class="m-editor__field">
      <label for="style-fill-data">column:</label>
      <select id="style-fill-data" data-bind="options:columnNames,value:fill_column">
        <option value="value">value</option>
      </select>
    </div>
    <button id="style-fill-add" class="m-editor__util m-editor-style__add">+</button>
  </header>
  <table class="style-form">
    <thead>
      <tr>
        <th class="show">Show</th>
        <th class="label">Label</th>
        <th class="color">Hex</th>
        <th class="value">Value</th>
        <th class="operator">Compare</th>
        <th class="destroy"></th>
      </tr>
    </thead>
    <tbody data-bind="collection:$collection"></tbody>
  </table>
  <script type="text/template" id="style-fill-item">
    <tr>
      <td><span class="swatch" data-bind="css:{'background-color':color}"><input type="checkbox" data-bind="checked:inLegend"></span></td>
      <td><input type="text" name="label" data-bind="value:label"></td>
      <td><input type="text" name="color" data-bind="value:color"></td>
      <td><input type="text" name="value" data-bind="value:value"></td>
      <td>
        <select data-bind="value:operator">
          <option value="lt">&lt;</option>
          <option value="lte">&lt;=</option>
          <option value="eq">=</option>
          <option value="gte">&gt;=</option>
          <option value="gt">&gt;</option>
        </select>
      </td>
      <td><button class="destroy">+</button></td>
    </tr>
  </script>
  <p><label>Render heat scale: <input type="checkbox" data-bind="checked:heat_scale"></label> <em>(uses exactly two legend keys)</em></p>
</div>