<ul class="m-share">
  <li><a href="#"><%= image_tag 'share-svg.png', :alt => 'SVG' %></a></li>
  <li><a href="#"><%= image_tag 'share-png.png', :alt => 'PNG' %></a></li>
  <li><a href="#"><%= image_tag 'share-embed.jpg', :alt => 'Embed' %></a></li>
</ul>