$m: '.m-editor';

#{$m} {
  header {
    background-color: $gray-light;
    height: 25px;
    line-height: 25px;
    padding: 5px 15px;
  }

  h1 {
    float: left;
    margin: 0;
  }

  #{$m}__util {
    box-sizing: border-box;
    border-radius: 5px;
    height: 25px;
    float: right;
    line-height: 25px;
  }

  #{$m}__module {
    margin-bottom: 20px;
  }

  .row {
    @include clearfix;
    margin-bottom: 15px;

    label {
      display: block;
      float: left;
      height: 28px;
      line-height: 28px;
      width: 25%;
    }
  }
}

#{$m}-view {
  background-color: white;
  box-sizing: border-box;
  display: none;
  height: calc(100% - 35px);
  padding: 15px;
  overflow: auto;
}

#{$m}__tabs {
  @include clearfix;
  background-color: $gray-dark;
  border: 5px solid $gray-dark;
  border-bottom: none;

  li {
    float: left;
    width: 50%;
  }

  a {
    border-radius: 10px 10px 0 0;
    display: block;
    color: white;
    font: 15px/30px $balto;
    height: 30px;
    text-align: center;

    &:hover {
      background-color: rgba(255, 255, 255, 0.15);
    }

    &.active {
      background-color: white;
      color: black;
    }
  }
}