$m: '.m-editor-data';

#{$m} {
  background-color: white;
  
  header {
    background-color: $gray-dark;
    margin: 0;
  }

  h1 {
    color: white;
    font-family: $balto;
    font-size: 15px;
  }
}

#{$m}__dropzone {
  border: 3px dashed $gray-medium;
  color: white;
  font: 13px $balto;
  text-align: center;
  width: 75px;

  span {
    position: relative;
    top: -2px;
  }

  &.pulse {
    border-color: #f00;
  }
}

#{$m}__table {
  border: 1px solid $gray-medium;
  height: calc(100% - 60px);
  margin: 0;
  padding: 0;
  position: relative;
  overflow: auto;

  table {
    min-width: 100%;
  }

  th, td {
    border-left: 1px solid $gray-light;
    max-width: 80px;
    min-width: 40px;
    padding: 5px 10px;
  }

  tr:nth-child(odd) td {
    background-color: $gray-bg;
  }

  th {
    font-weight: bold;
    vertical-align: top;

    select {
      display: block;
    }
  }

  input {
    background: none;
    border: none;
    height: 100%;
    padding: 0;
    width: 100%;
  }
}

#{$m}__range {
  background-color: $gray-dark;
  color: white;
  font-style: italic;
  height: 25px;
  line-height: 25px;
  padding: 0 15px;

  b {
    font-weight: bold;
  }
}