$m: '.m-editor-style';

#{$m} {
  header {
    border-radius: 5px;
    margin-bottom: 15px;
  }
}

#{$m}__add {
  background-color: $action-color;
  border: none;
  color: white;
  cursor: pointer;
  font: 700 26px/30px $balto;
  transition: background-color 0.4s;

  &:hover {
    background-color: tint($action-color, 30%);
  }
}

.style-form {
  box-sizing: border-box;
  width: 100%;

  th {
    font-size: 10px;
    font-weight: bold;
    text-align: left;

    &.show { width: 20px; }
    &.value { width: 80px; }
    &.size { width: 40px; }
    &.color { width: 80px; }
    &.operator { width: 60px; }
    &.destroy { width: 20px; padding-right: none; }
  }

  .swatch {
    border-radius: 3px;
    border-style: solid;
    box-sizing: border-box;
    display: block;
    height: 16px;
    padding: 2px;
    width: 16px;

    input {
      -moz-appearance: none;
      -webkit-appearance: none;
      appearance: none;
      background-color: white;
      border: none;
      border-radius: 2px;
      cursor: pointer;
      display: block;
      height: 100%;
      width: 100%;

      &:checked {
        background-color: transparent;
      }
    }
  }

  button.destroy {
    background-color: #eee;
    border: none;
    border-radius: 50%;
    color: #999;
    cursor: pointer;
    display: block;
    font: 700 20px/20px $balto;
    height: 20px;
    text-align: center;
    @include transform(rotate(45deg));
    @include transition(background-color 0.4s);
    width: 20px;

    &:hover {
      background-color: $action-color;
      color: white;
    }
  }

  td {
    padding-bottom: 15px;
    padding-right: 10px;
    
    input[type="text"],
    select {
      width: 100%;
    }
  }
}

.style-form__options {
  position: relative;
  width: 100%;

  .menu {
    cursor: default;
  }

  ul {
    background-color: white;
    border: 1px solid $gray-light;
    border-radius: 5px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.25);
    display: none;
    left: calc(100% + 5px);
    padding: 5px;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 100px;
    z-index: 10;

    &:before,
    &:after {
      border: 10px solid transparent;
      border-right-color: $gray-light;
      border-left: none;
      content: '';
      display: block;
      height: 0;
      left: -10px;
      margin-top: -10px;
      position: absolute;
      top: 50%;
      width: 0;
    }

    &:after {
      border-right-color: white;
      left: -9px;
    }
  }

  &:hover ul {
    display: block;
  }

  button {
    background: none;
    border: none;
    cursor: pointer;
    display: inline;
    text-wrap: none;

    &:hover {
      color: $action-color;
    }
  }

  label,
  button {
    font: 11px/1.5 $sans;
  }

  tr:first-child & .shift-up {
    display: none;
  }

  tr:last-child & .shift-down {
    display: none;
  }
}

#editor-style-fill {
  .swatch { border: none !important; }
  .size { display: none !important; }
}

#editor-style-stroke {
  .swatch { background: none !important; }
}