$m: '.m-editor-data';

#{$m} {
  background-color: white;

  header {
    border-left: 1px solid tint($gray-dark, 10%);
  }

  a.sort {
    color: black;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }

    /*&:after {
      border: 5px solid transparent;
      border-bottom: none;
      border-top-color: $gray-medium;
      content: '';
      display: inline-block;
      height: 0;
      margin-left: 6px;
      position: absolute;
      right: 10px;
      top: 10px;
      width: 0;
    }*/
  }
}

#{$m}__dropzone {
  border: 3px dashed $gray-medium;
  color: white;
  font: 13px $balto;
  text-align: center;
  width: 75px;

  span {
    position: relative;
    top: -2px;
  }

  &.pulse {
    border-color: #f00;
  }
}

#{$m}__table {
  border: 1px solid $gray-medium;
  height: calc(100% - 35px);
  margin: 0;
  padding: 0;
  position: relative;
  overflow: auto;

  table {
    min-width: 100%;
  }

  th, td {
    border-left: 1px solid $gray-light;
    max-width: 80px;
    min-width: 40px;
    padding: 5px 10px;
  }

  tr:nth-child(odd) td {
    background-color: $gray-bg;
  }

  th {
    font-weight: bold;
    position: relative;
    vertical-align: top;

    select {
      display: block;
    }
  }

  input {
    background: none;
    border: none;
    height: 100%;
    padding: 0;
    width: 100%;
  }
}